<h3>edit trip:</h3>

<% if @trip.errors.any? %>
<ul class= "errors">
  <% @trip.errors.each do |field,message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<%end%>

<%= form_for @trip do |f| %>

  <%= f.label :date %>
  <br>
  <%= f. text_field :date %>
  <br>

  <%= f.label :passenger_id %>
  <br>
  <%= f. text_field :passenger_id %>
  <br>

  <%= f.label :driver_id %>
  <br>
  <%= f. text_field :driver_id %>
  <br>

  <%= f.label :cost %>
  <br>
  <%= f. text_field :cost %>
  <br>

  <%= f.label :rating %>

  <br>
  
  <%= f.number_field :rating %>
  <br>

  <%= f.submit %>
<% end %>
