<h2>Your Trip Details</h2>


<table>
  <tr>
    <th>Passenger Name</th>
    <th>Driver Name</th>
    <th>Cost of Trip</th>
    <th>Trip Rating</th>
  </tr>
  <tr>
    <td><% if @trip.passenger_id != nil %>
    <%= link to @trip.passenger.name, passenger_path(@trip.passenger)%>
    <%end%>
  </td>
    <td> <% if @trip.driver_id != nil %>
        <%= link_to @trip.driver.name, driver_path(@trip.driver) %>
      <% end %></td>
    <td><%= "$#{@trip.cost/100.round(2)}" %></td>
    <td><%= "#{@trip.rating}" %></td>
  </tr>
</table>

    <%= link_to "Edit rating", edit_trip_path %>
    <%= button_to "Delete", trip_path(@trip.id), method: :delete %>
