
<h2>Date:<%= @trip.date %></h2>

<h2>Rating:<%= @trip.rating %></h2>

<h2>Cost:<%= @trip.cost %></p>

<ul>
   <li>
     <%= link_to "Edit", edit_trip_path %>
   </li>
   <li>
     <%= link_to "Delete", trip_path(@trip.id), method: :delete%>
   </li>
 </u
