

<h2>Here are the Trip details </h2>

    <table>
      <tr>
        <th>Trip ID:</th>
        <th>Driver:</th>
        <th>Passenger</th>
        <th>Date:</th>
        <th>Rating:</th>
        <th>Cost:</th>


      </tr>
    <tr>
    <td><%= @trip.id %></td>
     <td><%= Driver.random_driver.name %></td>
    <td> <%= @trip.passenger.name %></td>
    <td><%= Date.today%></td>
    <td><%= @trip.rating %></td>
    <td><%= @trip.cost %></td>
  </tr>
  </table>
