
<% if @passenger.errors.any? %>
<ul class= "errors">
  <% @passenger.errors.each do |field,message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<%end%>

<%= form_for @passenger do |f| %>
<%= f.label :name%>
<br>
<%= f.text_field :name %>
<br>
<%= f.label :phone_num %>
<br>
<%= f.text_area :phone_num%>
<br>

<%= f.submit %>

<% end %>
