<h2>Name:<%= @passenger.name %></h2>

<h2>phone_num:<%= @passenger.phone_num %></h2>
<h2>total_cost:<%= @passenger.total_cost %></h2>

  </h3>

<h2>Passengers Trips:</h2>
<table>
  <tr>
    <th>ID</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @passenger.trips.all.each do |trip| %>
    
    <tr>
    <td><%=trip.id%></td>
    <td><%=trip.driver_id%></td>
    <td><%= trip.passenger_id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.rating %></td>
    <td><%=trip.cost%></td>
    <td><%= link_to "Edit",edit_trip_path(trip.id)%></td>
    <td><%= link_to "Details",trip_path(trip.id) %></td>
    </tr>
    <% end %>


</table>



<ul>
   <li>
     <%= link_to "Request ride", passenger_trips_path(params[:id]),  method: :post %></li>
     <li><%= link_to "Edit", edit_passenger_path %></li>


   <li>
     <%= link_to "Delete", passenger_path(@passenger.id), method: :delete %>
   </li>
 </ul>
