<h2>
<%= "Passenger #{@passenger.id}:  #{@passenger.name}" %>
<br>
<%= "Phone number:  #{@passenger.phone_num}" %>
</h2>


<% @passenger.total_cost %>

<%= button_to "Edit Passenger", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"} %>
<%= button_to "Add New Trip", passenger_new_trip_path(@passenger.id), method: :post %>
=======
<h2>Phone_num:<%= @passenger.phone_num %></h2>
<h2>Total_cost:<%= '%.02f' % (@passenger.total_cost / 100) %></h2>
<%= "#{@passenger.name} has taken #{@passenger.trips.length} trip(s)" %>
<h2>Passengers Trips</h2>
<table>
  <tr>
    <th>ID</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @passenger.trips.all.each do |trip| %>
    <tr>
    <td><%=trip.id%></td>
    <td><%=trip.driver_id%></td>
    <td><%= trip.passenger_id %></td>
    <td><%= trip.date %></td>
    <td>
      <% if trip.rating == nil || trip.rating == 0 %>
        <%= form_for trip do |f|%>
        <%= f.number_field :rating, min: 1, max: 5%>
        <%= f.submit %>
        <% end %>
      <% else %>
        <%= trip.rating %>
      <% end %>
    </td>
    <td><%='%.02f' % (trip.cost / 100)%></td>
    <td><%= link_to "Edit Trip" , edit_trip_path%></td>
    <td><%= link_to "Delete Trip", trip_path(trip.id),method: :delete %></td>
    </tr>
    <% end %>

