<h1><%= @driver.name %></h1>

<img src="http://placebeyonce.com/250-150" alt="Driver profile picture">

<p>
  <%= "Average Rating: #{@driver.driver_rating}"%>
</p>

<p>
  <%= "Total Earnings: $#{@driver.driver_earnings}"%>
</p>

<p><%= link_to "Edit Driver", edit_driver_path %></p>
<p><%= link_to "Delete Driver", driver_path(@driver.id), method: :delete %> </p>

<h2>Driver Trips</h2>
<table>
  <tr>
    <th>ID</th>
      <th>Passenger</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @driver.trips.all.each do |trip| %>
      <tr>
        <td><%=trip.id%></td>
        <td><%= trip.passenger_id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.rating %></td>
        <td><%="$#{'%.02f' % (trip.cost / 100)}"%></td>
        <td><%= link_to "Edit Trip", edit_trip_path %></td>
        <td><%= link_to "Delete Trip", trip_path(trip.id), method: :delete %></td>
      </tr>
    <% end %>
</table>
