<h1><%= @driver.name %></h1>

<img src="http://placebeyonce.com/250-150" alt="Driver profile picture">

<p>
  <%= "Average Rating: #{}"%>
</p>

<p>
  <%= "Total Earnings: #{}"%>
</p>

<h2>Driver Trips</h2>
<table>
  <tr>
    <th>ID</th>
      <th>Passenger</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @driver.trips.all.each do |trip| %>
      <tr>
        <td><%=trip.id%></td>
        <td><%= trip.passenger_id %></td>
        <td><%= trip.date %></td>
        <td><%= trip.rating %></td>
        <td><%=trip.cost%></td>
        <td><%= link_to "Edit", edit_driver_path %></td>
        <td><%= link_to "Delete", trip_path(@driver.id), method: :delete %></td>
      </tr>
    <% end %>
</table>
